
.center{
	position: relative;
    top: 100px;

}

.outer-user-box{
	width: 400px;
	background-color: mediumaquamarine;
	font-size: 30px;
}

.outer-admin-box{
	height: 600px;
	background-color: mediumaquamarine;
	font-size: 25px;
	width: 1000px;	
}

.inner-user-box:nth-child(1){
	height: 400px;
	width: 400px;
	background-color: plum;
	margin-bottom: 50px;
	
}

.inner-user-box:nth-child(2){
	height: 400px;
	width: 300px;
	background-color: lightpink;
	margin-top: 50px;
}

.inner-admin-box:nth-child(1){
	height: 200px;
	background-color: plum;
	 float: left; width: 25%;
	 border-radius: 50px;
	 margin: 30px;

}

.inner-admin-box:nth-child(2){
	height: 200px;
	background-color: plum;
	 float: left; width: 25%;
	 border-radius: 50px;
	 margin: 30px;
}

.inner-admin-box:nth-child(3){
	height: 200px;
	background-color: plum;
	 float: left; width: 25%;
	 border-radius: 50px;
	 margin: 30px;
}

.text-center{
	line-height:400px;
	text-align: center;
}
.text-center2{
	line-height:200px; 
	text-align: center;
}
