@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
  width: 150px;
  height: 150px;
  vertical-align: middle;
}
.menu-object {
	cursor: pointer;
}

.menu-object:hover{
	background-color: floralwhite;
}

.content{
	max-width: 1100px;
	width:100%;
	box-sizing: border-box;
	position: absolute;
	left: auto;
	right: auto;
}

.content{
	width:70%;
	margin-right: 30px;
}



th{
	height:50px;
	background-color: sandybrown;
	margin-bottom: 10px;
}

td{
	vertical-align: middle;
	padding : 20px;
}

td > div{
	display:inline-block;
	margin:0 auto;


}


button{
	box-sizing: border-box;
	position: fixed;
	clear:both;
}

body{
	font-family: 'IBMPlexSansKR-Regular';
}

.quickmenu { 
	position: absolute;
	margin-top:100px;
	right:-170px;
	width:250px;
	height:250px;
	padding:50px;



}
