@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {overflow-y:scroll}

body{
	height: 100%;
	margin:0;padding:0;
	font-family: 'IBMPlexSansKR-Regular';
}
.container{
 padding:10px;
}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
a {color:#000;text-decoration:none}

div,
input,
textarea {
	box-sizing: border-box;
}

.header{width:100%; background: #ff9f40; margin-bottom: 100px}

.header .header-box{overflow: hidden; padding: 0px 10px;}

.header h1{float:left; }
.header h1 a{display: block; padding:10px; color: #fff;}
.header h1 a span {display: inline-block; vertical-align: middle; margin-left: 0; color: #000; height: 40px; line-height: 40px; padding: 0 10px;}
.header h1 a img{max-width:150px; max-height:40px;}

.header .tnb{float:right; margin-top: 11px;}
.header .tnb > ul > li{float:left;}
.header .tnb > ul > li a{display: block; padding:10px; color: #000;}


img {
  width: 150px;
  height: 150px;
  vertical-align: middle;
}
.imgdon {
	animation: rotate_image 6s linear infinite;transform-origin: 50% 50%;}
	
@keyframes rotate_image{ 100% { transform: rotate(360deg); } }



.menu-object {
	cursor: pointer;
}

.menu-object:hover{
	background-color: floralwhite;
}

.content{
	box-sizing: border-box;
	position: absolute;
	left: auto;
	right: auto;
}
table{
	width:700px;
	left: auto;
	right: auto;
}

th{
	height:50px;
	background-color: #ff9f40;
	margin-bottom: 10px;
}

td{
	vertical-align: middle;
	padding : 20px;
}

td > div{
	display:inline-block;
	margin:0 auto;
}


button{
	box-sizing: border-box;
}

.left {
	width:80%;
}
.right{
	width:20%;
}

.quickmenu { 
	position: absolute;
	margin:50px;
	width:200px;
	height:200px;
	padding:30px;
	float:right;
	background-color:linen;
	right:-5px;
}


.form-box{
	background-color: peachpuff;
	width:700px;
	padding:50px;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}

.btn-group{
	margin: 0 auto;
}

.btn-menugroup{
	width:100px;
}
.outer-user-box{
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}
.order-box{
	font-size: 20px;
	width: 400px;
    height: 100px;
	text-align: center;
	line-height: 90px;
    padding: 10px;
    color: #333;
    box-sizing: border-box;
    margin: 2px;
    flex: 0 0 auto;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border-radius: 50px;
    float: left;
 	margin-right: 50px;
 	margin-left: 50px;
 	transition: all 1s;
}

.order-box:hover{
    background: #ff9f40;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.mgb10{
	    margin-bottom: 20px;
}