<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Ramen shop - 메뉴보기</title>
	<link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/css/main.css'>

</head>

<body>
	<header th:insert="header.html"></header>
	<div class="container">
		<div class="btn-group" role="group" aria-label="Basic mixed styles example">
			<button type="button" class="btn1 btn-menugroup btn btn-danger"
				onclick="location.href='/admin/menus/group/1'">면</button>
			<button type="button" class="btn2 btn-menugroup btn btn-warning"
				onclick="location.href='/admin/menus/group/2'">밥</button>
			<button type="button" class="btn3 btn-menugroup btn btn-success"
				onclick="location.href='/admin/menus/group/3'">사이드</button>
			<button type="button" class="btn4 btn-menugroup btn btn-primary"
				onclick="location.href='/admin/menus/group/4'">음료</button>
		</div>
		<div class="content">
			<table>
				<thead class="thead-light">
					<tr class="text-center">
						<th scope="col">이미지</th>
						<th scope="col">메뉴번호</th>
						<th scope="col">메뉴명</th>
						<th scope="col">가격</th>
						<th scope="col">설명</th>
						<th scope="col">판매여부</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center menu-object" th:each="menu : ${menus}"
						th:onclick="'location.href=\''+ @{/admin/menus/{id}(id=${menu.id})} + '\''">
						<td scope="row" width="20%">
							<div><img th:src="@{/imgs/}+${menu.imgName}"></div>
						</td>
						<td scope="row" width="5%">
							<div class="menuId" th:text="${menu.id}"></div>
						</td>
						<td scope="row" width="20%">
							<div th:text="${menu.name}"></div>
						</td>
						<td scope="row" width="5%">
							<div th:text="${menu.price}"></div>
						</td>
						<td scope="row" width="20%">
							<div th:text="${menu.discription}"></div>
						</td>
						<td scope="row" width="15%">
							<div th:if="${menu.isSale.equals(true)}">판매</div>
							<div th:if="${menu.isSale.equals(false)}">미판매</div>
						</td>
						<td scope="row" width="20%">
							<form th:action="@{'/admin/menus/delete/{id}'(id=${menu.id})}" th:method="Post">
								<input type="hidden" name="_method" value="delete" />
								<button class="btn btn-outline-warning" type="submit" id="submitButton">삭제 </button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row quickmenu">
				<div class="menu-post-button">
					<div class="col-auto mr-auto"></div>
					<div class="col-auto">
						<a class="btn btn-outline-warning" th:href="@{/admin/menus/post}" role="button">메뉴등록</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

	<script>
		//<![CDATA[

		var menuGroupId = /*[[${menu}]]*/ "";


		function selectMenuGroupId(menugroupId) {
			console.log("test");
		}

		//]]>
	
		$(window).scroll(function () {  //스크롤이 움직일때마다 이벤트 발생 
			let position = $(window).scrollTop(); // 현재 스크롤바의 위치값을 반환합니다.
			$('.quickmenu').stop().animate({top: position + "px"}, 1000); //해당 오브젝트 위치값 재설정
		});
	</script>
</body>

</html>