<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>cart</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
	<h1>cart</h1>
	<div>
		<table>
			<tr>
				<td>cart</td>
			</tr>
			<tr th:each="c : ${cart}">
				<td th:text="${cStat.index+1}"></td>
				<td th:text="${c.menu.name}"></td>

				<td th:text="${c.options[0].name}" th:if="${c.options.size>0}"></td>
				<td th:text="${c.options[1].name}" th:if="${c.options.size>1}"></td>
				<td th:text="${c.options[2].name}" th:if="${c.options.size>2}"></td>
				<td th:text="${c.options[3].name}" th:if="${c.options.size>3}"></td>
				<td th:text="${c.options[4].name}" th:if="${c.options.size>4}"></td>
				<td th:text="${c.options[5].name}" th:if="${c.options.size>5}"></td>
				<td th:text="${c.options[6].name}" th:if="${c.options.size>6}"></td>
				<td th:text="${c.options[7].name}" th:if="${c.options.size>7}"></td>
				<td th:text="${c.options[8].name}" th:if="${c.options.size>8}"></td>
				<td th:text="${c.options[9].name}" th:if="${c.options.size>9}"></td>
				<td th:text="${c.options[10].name}" th:if="${c.options.size>10}"></td>

				<td th:text="|${c.count}개|"></td>
				<td th:text="|${c.price}원|"></td>
				<input type="hidden" class="price" th:value="${c.price}">

				<td scope="row" width="20%">
					<form th:action="@{'/menus/delete/{id}'(id=${cStat.index})}" th:method="Post">
						<input type="hidden" name="_method" value="delete" />
						<button type="submit" id="submitButton">삭제 </button>
					</form>
				</td>

			</tr>
		</table>
		<button id="cal">계산</button>
		<span class="sum"></span>
	</div>
	<div>
		<form th:action="@{'/menus/cart'}" th:method="Post">
			<button type="submit">결제 </button>
		</form>
	</div>

	<script th:inline="javascript">
		$(function () {
			$('#cal').click((event) => {
				var sum = 0;
				$('.price').each(function () {
					sum += Number($(this).val());
				});

				$('.sum').html(sum);
				$('.sum').val(sum);
				
			});

		});
	</script>
</body>

</html>