<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Ramen shop - 메뉴보기</title>
	<link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
	<link rel='stylesheet' href='css/main.css'>

</head>

<body>
	<header th:insert="header.html"></header>
	<div class="container">
		<div class="table">
			<table>
				<thead class="thead-light">
					<tr class="text-center">
						<th scope="col">이미지</th>
						<th scope="col">메뉴번호</th>
						<th scope="col">메뉴명</th>
						<th scope="col">가격</th>
						<th scope="col">설명</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center menu-object" th:each="menu : ${menus}">
						<a th:href="@{/menus/{menuId}(menuId=${menu.getId()})}">
							<th scope="row" width="20%">
								<span><img th:src="@{/imgs/}+${menu.imgName}"></span>
							</th>
							<th scope="row" width="10%">
								<span th:text="${menu.id}"></span>
							</th>
							<th scope="row" width="20%">
								<span th:text="${menu.name}"></span>
							</th>
							<th scope="row" width="10%">
								<span th:text="${menu.price}"></span>
							</th>
							<th scope="row">
								<span th:text="${menu.discription}"></span>
							</th>
						</a>
					</tr>
				</tbody>
			</table>

			<div class="row floating">
				<div class="col-auto mr-auto"></div>
				<div class="col-auto">
					<a class="btn btn-outline-warning" th:href="@{/post}" role="button">메뉴등록</a>
				</div>
			</div>
			
		</div>
	</div>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>