<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Ramen shop</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel='stylesheet' href='/css/main.css'>
	<link rel='stylesheet' href='/css/menu.css'>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script></head>

<body>
	<header th:insert="header.html"></header>
	<div class="container">
		<div class="menu-component">
			<div class="menu-box">
				<div class="menu-info">
					<div class="menu-title" th:text="${menu.name}"></div>
					<div class="menu-img" style="text-align:center"><img th:src="@{/imgs/}+${menu.imgName}"></div>
					<div class="menu-price" th:text="|${menu.price}원|"></div>
					<div class="menu-discription" th:text="${menu.discription}"></div>
				</div>
				<div class="option-info" th:if="${menuGroupId.toString().equals('1')}">
					<div class="option-box">
						<form th:action="@{'/api/menus/{id}'(id=${menu.id})}" method="post">
							<div class="w-100 mgb10">
								<p>맛</p>
								<div class="w-50">
									<label>
										<input type="radio" name="spicy" value="1" class="form-radio" />
										보통맛</<label>
								</div>
								<div class="w-50">
									<label>
										<input type="radio" name="spicy" value="2" class="form-radio" />
										매운맛</<label>
								</div>
							</div>

							<div class="w-100 mgb10">
								<p>추가 선택</p>
								<div>
									<div class="w-100">
										<label>
											<input type="checkbox" name="double" value="5" class="form-checkbox"
												onclick='addToping()' />
											곱빼기 추가</<label><span> +1000원</span>
									</div>
									<div class="w-100">
										<label>
											<input type="checkbox" name="double" value="7" class="form-checkbox"
												onclick='addToping()' />
											삶은 계란 추가</<label><span> +1000원</span>
									</div>
									<div class="w-100">
										<label>
											<input type="checkbox" name="double" value="8" class="form-checkbox"
												onclick='addToping()' />
											날계란 추가</<label><span> +1000원</span>
									</div>
									<div class="w-100">
										<label>
											<input type="checkbox" name="double" value="9" class="form-checkbox"
												onclick='addToping()' />
											야채튀김 추가</<label><span> +1000원</span>
									</div>
									<div class="w-100">
										<label>
											<input type="checkbox" name="double" value="11" class="form-checkbox"
												onclick='addToping()' />
											새우튀김 추가</<label><span> +1000원</span>
									</div>
									<div class="w-100">
										<label>
											<input type="checkbox" name="double" value="13" class="form-checkbox"
												onclick='addToping()' />
											치킨 가라아게 추가<label><span> +1000원</span>
									</div>
									<div class="w-100">
										<label>
											<input type="checkbox" name="double" value="15" class="form-checkbox"
												onclick='addToping()' />
											돈까스 추가</<label><span> +1000원</span>
									</div>
								</div>
								<div class="clear"></div>
							</div>


							<div class="clear"></div>
							<div>
								<div class="cartStock mgb10" style="margin-right: 50px;">
									<span>구입 수량</span>
									<button type="button" class="minus numBtn">-</button>
									<input type="number" id="numBox" name = "count" class="numBox" value="1" />
									<button type="button" class="plus numBtn">+</button>

									<div class="clear"></div>

								</div>
								<div class="total">
									<div class="left">총 금액</div>
									<div class="right"> <input type="text" class="form-input" name="total"
											readonly="readonly" />
										원</div>
									<div class="clear"></div>
								</div>

							</div>
							<div class="btn-box">
								<div th:onclick="'location.href=\''+ @{/menus} + '\''">취소</div>
								<div><button class="yellow-button">담기</button></div>
							</div>
						</form>
					</div>
				</div>
				<div class="option-info" th:if="${menuGroupId.toString().equals('2')}">
					<div class="option-box">
						<form th:action="@{'/api/menus/{id}'(id=${menu.id})}" method="post">
							<div class="w-100">
								<p>맛</p>
								<div class="w-50">
									<label>
										<input type="radio" name="spicy" value="3" class="form-radio" />
										보통맛</label>

								</div>
								<div class="w-50">
									<label>
										<input type="radio" name="spicy" value="4" class="form-radio" />
										매운맛</label>
								</div>
							</div>


							<div class="w-100">
								<p>추가 선택</p>
								<div class="w-100">
									<label>
										<input type="checkbox" name="double" value="6" class="form-checkbox" />
										곱빼기 추가</label><span> +1000원</span>
								</div>
								<div class="w-100">
									<label>
										<input type="checkbox" name="double" value="10" class="form-checkbox" />
										야채튀김 추가</label><span> +1000원</span>
								</div>
								<div class="w-100">
									<label>
										<input type="checkbox" name="double" value="12" class="form-checkbox" />
										새우튀김 추가</label><span> +1000원</span>
								</div>
								<div class="w-100">
									<label>
										<input type="checkbox" name="double" value="14" class="form-checkbox" />
										치킨 가라아게 추가</label><span> +1000원</span>
								</div>
								<div class="w-100">
									<label>
										<input type="checkbox" name="double" value="16" class="form-checkbox" />
										돈까스 추가</label><span> +1000원</span>
								</div>
							</div>
							<div class="clear"></div>
							<div>
								<div class="cartStock mgb10" style="margin-right: 50px;">
									<span>구입 수량</span>
									<button type="button" class="minus numBtn">-</button>
									<input type="number" id="numBox" name = "count" class="numBox" value="1" />
									<button type="button" class="plus numBtn">+</button>

									<div class="clear"></div>

								</div>
								<div class="total">
									<div class="left">총 금액</div>
									<div class="right"> <input type="text" class="form-input" name="total"
											readonly="readonly" />
										원</div>
									<div class="clear"></div>
								</div>

							</div>

							<div class="btn-box">
								<div th:onclick="'location.href=\''+ @{/menus} + '\''">취소</div>
								<div><button class="yellow-button">담기</button></div>
							</div>
						</form>
					</div>
				</div>
				<div class="option-info"
					th:if="${menuGroupId.toString().equals('3')} or ${menuGroupId.toString().equals('4')}">
					<form th:action="@{'/api/menus/{id}'(id=${menu.id})}" method="post">

					<div>
						<div class="cartStock mgb10" style="margin-right: 50px;">
							<span>구입 수량</span>
							<button type="button" class="minus numBtn">-</button>
							<input type="number" id="numBox" name = "count" class="numBox" value="1" />
							<button type="button" class="plus numBtn">+</button>

							<div class="clear"></div>

						</div>
						<div class="total">
							<div class="left">총 금액</div>
							<div class="right"> <input type="text" class="form-input" name="total"
									readonly="readonly" />
								원</div>
							<div class="clear"></div>
						</div>

					</div>
					<div class="btn-box">
						<div th:onclick="'location.href=\''+ @{/menus} + '\''">취소</div>
						<div><button class="yellow-button">담기</button></div>
					</div>
					
					</form>
				</div>
			</div>
		</div>
	</div>


	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="/js/calculate.js"></script>

	<script>
		$(window).scroll(function () {  //스크롤이 움직일때마다 이벤트 발생 
			let position = $(window).scrollTop(); // 현재 스크롤바의 위치값을 반환합니다.
			$('.quickmenu').stop().animate({top: position + "px"}, 1000); //해당 오브젝트 위치값 재설정
		});
	</script>


	<script th:inline="javascript">

		/*<![CDATA[*/

		var result = /*[[ ${menu.price} ]]*/'';
		var count = $('#numBox').val();

		var total = result;
		var one = result;

		var topingCount;
		var topingTotalPrice;


		$(document).ready(function () {

			$('input[name=total]').attr('value', result);


			$('.numBox').on("change", function () {
				count = $('#numBox').val();
				total = result * count;
				$('input[name=total]').attr('value', total);
			});



		});

		function addToping() {
			$("input:checkbox[name='double']:checked").on("change", function () {
				topingCount=($("input:checkbox[name='double']:checked").length);
				one = result + 1000*topingCount;
				total = one * count;
				$('input[name=total]').attr('value', total);
			});
		}
		/*]]*/
		
		$(".yellow-button").click(function(e){
			if($('input:radio[name=spicy]').is(':checked')==false){
				alert("맛을 선택하세요!");
				e.preventDefault();
				
			}

		});


		$(".plus").click(function () {
			count = Number(count) + 1;
			$(".numBox").val(count);
			total = one * count;
			$('input[name=total]').attr('value', total);

		});

		$(".minus").click(function () {
			if (count-1 < 1) {
				alert("수량은 최소 하나 선택해주세요!");
			} else {
				var beforeCount = count;
				count = Number(count) - 1;
				$(".numBox").val(count);
				total = total / beforeCount * count;
				$('input[name=total]').attr('value', total);
			}
		});
	</script>
</body>

</html>